<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Grupo 7 - SA</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>

<body class="grid-container">

    <header>
        <h1>Trabalho do grupo 7 (Universidade do Minho)</h1>
    </header>

    <main>
        <h2>Este trabalho consiste:</h2>
        <p>Na Universidade do Minho, uma das infraestruturas mais frequentadas e a cantina. A maioria dos
            estudantes e docentes, assim que terminam o horario da manhã, deslocam-se até esta. Porém, verifica-se
            que, muitas das vezes, a fila para entrar na cantina e bastante grande, resultando em grandes tempos de
            espera e em atrasos dos estudantes em algumas aulas do período da tarde.</p>
        <p>De modo a prevenir estas situações, o grupo pretende, através da utilização de sensores, monitorizar
            a entrada de pessoas na cantina e, posteriormente, com base na informação das condições climatéricas nos
            diversos dias, construir um modelo de Machine Learning que permita prever qual o numero de pessoas
            que sao esperadas na cantina, num determinado dia e hora.</p>
    </main>

    <footer>
        <h3>Trabalho realizado por:</h3>
        <p>PG47578, Pedro Veloso</p>
        <p>PG47164, Eduardo Coelho</p>
        <p>PG47089, Carlos Preto</p>
        <p>PG47677, Simao Monteiro</p>
    </footer>

</body>
<script src="script/script.js" />

</html>